<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixeltreelabs.recipedivider2.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_recipe_divider"
        android:label="@string/app_name"
        android:theme="@style/Theme.RecipeDivider" >
        <activity
            android:name="com.pixeltreelabs.recipedivider2.android.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.RecipeDivider.Main"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pixeltreelabs.recipedivider2.android.ui.RecipeSplitterActivity"
            android:label="@string/title_activity_recipe_splitter"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name="com.pixeltreelabs.recipedivider2.android.ui.RecipeResultsActivity"
            android:label="@string/title_activity_recipe_results" >
        </activity>

        <provider
            android:name="com.pixeltreelabs.recipedivider2.android.db.RecipeProvider"
            android:authorities="com.recipedivider.contentprovider"
            android:exported="false" >
        </provider>
    </application>

</manifest>